ACTION=="add", SUBSYSTEMS=="usb", ATTR{idVendor}=="346d", RUN+="sudo systemctl stop screen-lock.service"
ACTION=="remove", SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="346d", RUN+="sudo systemctl start screen-lock.service"